body {
  background: #ffffff;
  color: #050000;
  margin: 20px;
  padding: 20px;

  }

h1, h2, p, a, span {
    color: #050000;
  }


#myChart {
  box-sizing: border-box;
  display: block;
  max-width: 600px;
  max-height: 350px;
  }

